body {
  margin: 0;
}

/* For mobile: */
@media only screen and (max-width: 414px) {
  body {
    background-color: #62718C;
  }
  .background {
    width: 90%;
    margin-top: -80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .desktop_background {
    display: none;
  }
  ul {
    display: none;
  }
  h2 {
    display: none;
  }
  header {
    position: relative;
  }
  .rectangle {
    width: 200px;
    height: 140px;
    border-radius: 25px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .header {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
  }
  .menu_nav {
    list-style-type: none;
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: white;
    text-align: center;
    margin: 20px;
    margin-right: 100px;
    margin-top: 30px;
  }
  .footer {
    width: 35px;
  }
  .footer__insta {
    margin-left: 15px;
  }
  .footer__fb {
    margin-left: 10px;
  }
}

/* For desktop: */
@media only screen and (min-width: 415px) {
  body {
    background-color: #62718C;
  }
  .background {
    display: none;
  }
  .desktop_background {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -130px;
  }
  .rectangle {
    width: 400px;
    height: 258px;
    border-radius: 25px;
    background-color: white;
    margin-top: 24px;
    margin-left: 60px;
  }
  header {
    position: relative;
  }
  .header {
    max-width: 90%;
    margin: auto;
    padding: 20px;
  }
  .menu_nav {
    padding: 50px;
    font-family: source-sans-pro, sans-serif;
    font-size: 20px;
    color: white;
  }
  #clickable_subscribe a {
    text-decoration: none;
    color: white;
  }
  #clickable_subscribe a:hover {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
  }
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    margin-left: 475px;
    margin-top: -250px;
    position: absolute;
  }
  .rectangle_large {
    width: 96%;
    height: 875px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .secondary_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 420px 420px 420px;
        grid-template-columns: 420px 420px 420px;
    -ms-grid-rows: 80px 80px;
        grid-template-rows: 80px 80px;
    position: absolute;
    margin-top: -900px;
    padding-left: 90px;
    color: #62718C;
  }
  .fb {
    margin-left: 950px;
    margin-top: 275px;
    position: absolute;
  }
  .insta {
    margin-left: 1000px;
    margin-top: 275px;
    position: absolute;
  }
  h2 {
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    padding: 39px;
  }
  .h2__events {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .ul__events {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
    list-style-type: none;
    padding-top: 40px;
    font-size: 18px;
  }
  .h2__hours {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .ul__hours {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    list-style-type: none;
    line-height: 50px;
    padding-top: 30px;
    font-size: 18px;
  }
  .h2__contact {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .ul__contact {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    list-style-type: none;
    padding-top: 40px;
    line-height: 25px;
    font-size: 18px;
  }
  .footer {
    display: none;
  }
  .form {
    margin-left: 600px;
    color: #62718C;
    line-height: 50px;
    font-size: 15px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
  }
  .subscribe_header {
    color: white;
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    margin-left: 600px;
    margin-top: -70px;
  }
  form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid white;
    border-radius: 1em;
    background-color: white;
    border-radius: 25px;
  }
  form div + div {
    margin-top: 1em;
  }
  label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
    font: 1em sans-serif;
    /* To give the same size to all text fields */
    width: 300px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
  }
  input:focus,
  textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #62718C;
  }
  textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;
    /* To give enough room to type some text */
    height: 5em;
  }
  .button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px;
    /* same size as the label elements */
  }
  button {
    /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
    margin-left: .5em;
    color: #62718C;
    width: 100px;
    height: 50px;
    font-size: 15px;
    border-radius: 15px;
  }
}

[data-visible="false"] {
  display: none;
}

.site-header {
  display: flow-root;
}

.site-nav__trigger {
  position: absolute;
  top: 515px;
  right: 10px;
}

.site-nav__trigger[aria-expanded="true"] .menu-icon__line:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.site-nav__trigger[aria-expanded="true"] .menu-icon__line:nth-child(2) {
  opacity: 0;
}

.site-nav__trigger[aria-expanded="true"] .menu-icon__line:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

@media screen and (min-width: 520px) {
  .site-nav__trigger {
    display: none;
  }
}

@media screen and (max-width: 519px) {
  .site-nav__list {
    background-color: rgba(98, 113, 140, 0.75);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 80px;
    width: 100vw;
    margin-top: 0;
  }
  .site-nav__list[data-visible="true"] {
    -webkit-animation: expand 0.3s ease-in-out forwards;
            animation: expand 0.3s ease-in-out forwards;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 520px) {
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav__list-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media screen and (max-width: 519px) {
  .site-nav__list-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.site-nav__link {
  opacity: 0.85;
}

.site-nav__link:hover {
  opacity: 1;
}

@media screen and (max-width: 519px) {
  .site-nav__link {
    color: white;
    font-size: 200%;
  }
}

@-webkit-keyframes expand {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: calc(100vh - 80px);
    opacity: 1;
  }
}

@keyframes expand {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: calc(100vh - 80px);
    opacity: 1;
  }
}

.menu-icon__line {
  background-color: white;
  height: 3px;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 42px;
  margin-right: 10px;
}

.u-button-reset {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  text-align: inherit;
}
/*# sourceMappingURL=styles.css.map */